
@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Areas/AdminManagerPanel/Views/Shared/_LayoutPage1.cshtml";
}
<div class="box">
    <div class="title">
        <h3>Index</h3>
    </div>
    <div class="content">

    </div>
</div>


