.row{
    padding:10px 0;
}
.formLabel
{
    display:block;
    color:#808080;
    margin-bottom:7px;
}
.formTextbox {
    padding: 7px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid silver;
}
    .formTextbox:focus {
        outline: 1px solid teal;
    }
.formValidationText {
    color: red;
}
.submitButton{
    border:1px solid teal;
    border-radius:5px;
    padding:7px 15px;
    background-color:teal;
    color:white;
    font-size:12pt;
    cursor:pointer;
}
    .submitButton:hover {
        background-color: #03a9a9;
    }
.chekLabel {
    color: #808080;
}
.formCheckBox
{

}
.backButton{
    color:gray;
    margin-left:20px;
}
.pnl_hata {
    background-color: #ff7d7d;
    color: white;
    font-size: 12pt;
    font-weight: 900;
    border-radius: 7px;
    padding: 15px;
    margin-bottom: 10px;
}
.pnl_basarili {
    background-color: #9dff9c;
    color: darkgreen;
    font-size: 12pt;
    font-weight: 900;
    border-radius: 7px;
    padding: 15px;
    margin-bottom: 10px;
}
