*, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

body {
    font-family: Calibri;
    background-color: #F7F8FC;
}

.navBar {
    min-height: 40px;
    background-color: teal;
    color: white;
}

.brand {
    float: left;
    width: 200px;
    padding: 10px;
}

.userPanel {
    float: right;
    width: 180px;
    padding: 10px;
}

    .userPanel a {
        text-decoration: none;
        margin-right: 10px;
        color: white;
    }

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.subNavBarBase {
    background-color: #e1e1e1;
}

.subNavBar {
    min-height: 40px;
}

.menu {
    list-style-type: none;
}

    .menu a {
        text-decoration: none;
        color: teal;
        display: table-cell;
        padding: 10px;
    }

        .menu a li {
        }

.contentContainer {
}

.box {
    background-color: white;
    border-radius: 5px;
    margin-top: 20px;
    color: dimgrey;
}

    .box .content {
        min-height: 600px;
        padding: 10px 20px;
    }

    .box .title {
        padding: 20px 20px;
        border-bottom: 1px solid silver;
    }

        .box .title h3 {
        }

.table {
    width: 100%;
}

    .table tr {
    }

        .table tr th {
            padding: 15px;
            text-align: left;
            border-bottom: 1px solid #eae9e9;
        }

        .table tr td {
            padding: 15px;
            border-bottom: 1px solid #eae9e9;
        }

.eklebutton {
    padding: 7px 15px;
    border-radius: 5px;
    background-color: teal;
    color: white;
    text-decoration: none;
    font-weight: 900;
    float: right;
}

.tableButton {
    padding: 7px;
    text-decoration: none;
    font-size: 9pt;
    margin: 0px;
   
    float:left;
}

.change {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-color: forestgreen;
    color: white;
}

.edit {
    background-color: dodgerblue;
    color: white;
}

.editimage {
    background-color: silver;
    color: white;
}

.delete {
    background-color: red;
    color: white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.ozetKutu {
    border: 1px solid silver;
    border-bottom: 5px solid silver;
    border-radius: 10px;
    width: 260px;
    margin: 10px;
    padding: 10px;
    min-height: 100px;
    float: left;
    box-sizing: border-box;
}
.sag {
    width:570px;
    float:left;
}

.sol {
    width: 570px;
    float: right;
}
.imageList{
    float:left;
    border:1px solid silver;
    border-radius:10px;
    padding:10px;
    width:258px;
    margin:5px;
    text-align:center;
}
.imageListselected {
    float: left;
    border: 1px solid orangered;
    border-radius: 10px;
    padding: 10px;
    width: 258px;
    margin: 5px;
    text-align: center;
}
.listimage
{
    width:100%;
}
.yapimageListButton {
    padding: 5px 15px;
    background-color: green;
    color: white;
    margin-right: 10px;
    border-radius: 7px;
    text-decoration:none;
}
.silimageListButton {
    padding: 5px 15px;
    background-color: red;
    color: white;
    margin-right: 10px;
    border-radius: 7px;
    text-decoration: none;
}