@model IEnumerable<KirtasiyejimWebApp.Models.Category>
@using KirtasiyejimWebApp.Models

@foreach (Category item in Model)
{
    <a href="@Url.Action("Index","Home", new {id = item.ID})">@item.Name</a>
}